.buttons{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.main{
    background-image: linear-gradient(rgba(0,0,255,0.691),lightblue,skyblue);
    border-radius: 20px;
}


.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;  
  text-align: center;
  
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row button{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    border-color: lightblue;
    color:darkred;
    font-size: 15px;
    font-weight: 300;
}

.row button:hover{
    background-image: radial-gradient(rgb(24,197,255),rgb(24,197,255));

}